* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.col h2 {
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    transition: background 0.3s;
}

.col h2:hover {
    background: rgba(0,0,0,0.1);
    cursor: pointer;
}

.col button {
    outline: none;
    border: none;
    background: transparent;
    font-size: 25px;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3s;
}

.col button:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.1);
}

.reload {
    background-color: rgb(54, 31, 31);
    border-radius: 15px;
    position: absolute;
    margin-left: 680px;
    margin-top: 860px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: inline-block;
}
.reload-text {
    font-family: 'Roboto';
    color: white;
    font-size: 45px;
}

.reload-text span {
    color: rgb(207, 17, 17);
}

#snackbar {
    padding: 50px;
    display: none;
    position: absolute;
    padding-bottom: 350px;
    font-weight: 400;
    font-size: 18px;
}